* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: #45119f;
}


.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(34, 11, 84, 0.6),
      rgba(34, 11, 84, 0.6)
    ),
    url("../images/bg-hero.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content {
  max-width: 600px;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
  font-size: 1.2rem;
}

.btn {
  background: #d9d7d0;
  color: #504275;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}


.section {
  padding: 80px 15%;
  text-align: center;
}

.section h2 {
  margin-bottom: 40px;
  font-size: 2.3rem;
}


.about {
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
}


.projects {
  background: linear-gradient(
      rgba(255,255,255,0.9),
      rgba(255,255,255,0.9)
    ),
    url("../images/bg-projects.jpg") center/cover no-repeat;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card span {
  display: block;
  margin: 10px 0;
  color: #666;
}

.card a {
  color: #0a66c2;
  font-weight: bold;
  text-decoration: none;
}

.skills-section {
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skills span {
  background: #0a66c2;
  color: white;
  padding: 10px 18px;
  border-radius: 20px;
}


.contact {
  background: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ),
    url("../images/bg-contact.jpg") center/cover no-repeat;
  color: white;
}

.contact a {
  color: #ffcc00;
  text-decoration: none;
}


footer {
  background: #0a66c2;
  color: white;
  text-align: center;
  padding: 15px;
}
